<launch>
  <!-- <node name="talker_node" pkg="startup" type="talker" output="screen"/> -->
  <!-- <node name="listener_node" pkg="startup" type="listener" output="screen"/> -->
  <!-- <node name="goal_pose_node" pkg="startup" type="goal_pub" output="screen"/> -->
  <node name="secret_msg" pkg="secret_msg" type="secret_msg_node" output="screen"/>
  <node name="vault_keypad" pkg="vault_keypad" type="vault_keypad_node" output="screen"/>
</launch>